# Built files
/dist/

# Yarn stuff; we're using PnP/Zero installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Really don't want that
/node_modules/

# Local env variables should stay local
.env

# Folder metadata
.DS_Store
Thumbs.db
